<%= simple_form_for(@team) do |f| %>
  <fieldset>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

        <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :name, 
	label:"Team Name", 
	label_html: {style: 'font-weight: bold;font-size: 16px;'} %>

    <b>Organization:</b>
    <%= f.select :organization_id, 
	@organizations.active.map{|o| [o.name, o.id]} %>

    <b>Division:</b>
    <%= f.select :division_id,
	@divisions.active.alphabetical.map{|d| [d.name, d.id]} %>

    <% if !@team.new_record? %>
      <b>Students in roster:</b>
      <%= f.simple_fields_for :student_teams, @student_teams do |builder| %>
        <%= builder.select :student_id, 
	    @students.active.alphabetical.map{|s| 
	      [s.last_name+", "+s.first_name,
	      s.id]},
	    include_blank: true%>
        <%= builder.input :team_id, 
	    as: :hidden, 
	    input_html: {value: @team.id}%>
      <% end %>

      <b>Team coach:</b>
      <%= f.simple_fields_for :team_coaches, @team_coaches do |builder| %>
        <%= builder.select :coach_id, 
	    @coaches.active.alphabetical.map{|c| [c.last_name+", "+c.first_name,
	                                   c.id]} %>
      <% end %>

    <% end %>

    <%= f.input :active %><br>

    <div class="form-actions">
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', teams_path, :class => 'button secondary' %>
    </div>

  </fieldset>
<% end %>
