<div = class"row">
	<div class="card">
		<%= high_chart("some_id", @performance_chart) %>
	</div>
</div>	

<div class="row">
	<div class="card">

		<div class="col s12">
			<ul class="tabs">
				<% count = 0%>
		        <% @students.each do |s| %>
				<li class="tab col s3"><a href="<%= "#graph#{count}" %>" ><%= s.first_name %> <%= s.last_name %></a></li>
				<% count +=1 %>
		    	<% end %>
			</ul>
		</div>

		<br><br/>

		<% count =0 %>
        <% @students.each do |s| %>
			<div id=<%= "graph#{count}"%> class="col s12">
				<%= high_chart("some_other_id#{s.id}", eval("@member_chart#{s.id}")) %>
			</div>
			<% count +=1 %>
		<% end %>

	</div>
</div>