<p id="notice"><%= notice %></p>

<% score = 0 %>
<div id="container" style="width:800px; align-self:center">      
  <div class="row" style="width: 450px; border-style: groove; padding-left: 10px; margin-left: 6px;float: left;">
    <p>
      <strong>Name:</strong>
      <%= "#{@team.name} (#{@team.division.name})" %>
    </p>
    
    <p>
      <strong>Points:</strong>
      <% @team.quizzes.each do |p| -%>
        <% p.quiz_teams.each do |qt| %>
          <% if qt.team == @team && !qt.points.nil? %>
  	  <% score += qt.points  %>
  	<% end %>
        <% end %>
      <% end %>
      <%= score > 0 ? score : "This team has not been involved in any quizzes" %>
    </p>
    
    <p>
      <strong>Division:</strong>
      <%= @team.division.name %>
    </p>

    <% if @team.active==true%>
    <p>
      <strong>Standing:</strong>
      <% standing = 1 %>
      <% @teams.each do |t| %>
        <% t_score = 0 %>

        <% #Quick check that we should be comparing this team %>
        <% if t.active==true && t.division_id == @team.division_id && t != @team %>
        
          <% t.quizzes.each do |p| -%>
            <% p.quiz_teams.each do |qt| %>

  	    <% if qt.team == t && !qt.points.nil? %>
  	      <% t_score += qt.points %>
  	    <% end %>

  	  <% end %>
          <% end %>

          <% if t_score > score %>
            <% standing += 1 %>
          <% end %>

        <% end #team check %> 

      <% end #list of all teams %>
      <%= standing %>
    </p>
    <% end %>

    <p>
      <strong>Active:</strong>
      <%= @team.active==true ? "Yes" : "No" %>
      <!-- TODO: Add a toggle button here-->
    </p>

  </div>

  <div style="width: 300px; border-style: groove; padding-left: 10px; padding-right:10px; margin-left: 6px; margin-right: 6px; float: right; text-align:center;">
    <p>
      <strong>Members:</strong>
    </p>
    <hr>
    <% if @team.students.size == 0 %>
      This team has no students
    <% end %>

    <% @team.students.each do |s| %>

      <%= link_to s.proper_name, student_path(s) %>

    <% end %>

    <hr>
    <strong>Coach:</strong>
    <% cur_coach = @team.team_coaches.where(end_date: nil).first %>

    <% if cur_coach == nil %>
      N/A
    <% else %>
      <% cur_coach = cur_coach.coach%>

      <% if cur_coach.email != nil && !cur_coach.email.blank? %>

      <%= mail_to cur_coach.email, cur_coach.proper_name, encode:"javascript" %>
      
      <% else %>

        <%= cur_coach.coach.proper_name %>
      
      <% end %>
    <% end %>
  </div>

  <!--Theophilus begin-->
  <div class="row" style="width: 450px; border-style: groove; padding-left: 10px; margin-left: 6px;float: left;">
    <!--based off student_details equivalent-->
    <!--basing on topdown design-->
    <% unless @all_quiz_teams.empty? %>

    <h4>Breakdown of Scores for <%= @team.name %></h4>

    <table>
      <thead>
        <tr>
          <th>Date</th>        
          <!--TODO (not 373 Spring '15): make dynamic -->
          <%round_counter = 1%>
          <% while round_counter <= @declared_num_rounds do%>
            <th><%= "Round #{round_counter}" %></th>
            <%round_counter+=1%>
          <% end %>
          <th>Total Points</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
        <% @event_team = EventTeam.new(@team,event) %>
          <tr><!--each row is the quizzes of one event-->
            <!--TODO link to event standings-->
            <td><%= event.start_date.strftime('%B %d, %Y') %></td>
            <% @quiz_teams = @event_team.quiz_teams %>
            <!--empty quiz_teams or future-created ones (they have nil raw scores)-->
            <% unless @quiz_teams.empty? || @quiz_teams.first.raw_score.nil? %>
              <% @quiz_teams.each do |quiz_team| %>
                <td><%= quiz_team.raw_score %></td>
              <% end %><!--end quiz_teams.each-->
              <td><%= @event_team.total_score %></td><!--for Total Points column-->

            <% else %><!--quiz_teams are empty so output dashes-->

              <%round_counter = 1%><!--Resetting the global round_counter!-->
              <% while round_counter <= @declared_num_rounds do%>
                <td> -- </td>
                <%round_counter+=1%>
              <% end %> <!--end while-->
              <td> -- </td><!--for Total Points column-->

            <% end %><!--end quiz_teams unless-->
          </tr>
        <% end %><!--end events.each-->
      </tbody>
    </table>

  <%else%><!--this person has no quiz_teams at all-->

    <div class="panel clearfix">
      <h4>No Competition for <%= @team.name %></h4>
    </div>
  </div>

  <% end %>
    <!--Theophilus end-->
</div><!--div container-->
