<p id="notice"><%= notice %></p>

<% score = 0 %>
<!--div id="container" style="width:800px; align-self:center"-->      
  <!--div class="row" style="width: 450px; border-style: groove; padding-left: 10px; margin-left: 6px;float: left;"-->
    <p>
      <strong>Name:</strong>
      <%= "#{@team.name} (#{@team.division.name})" %>
    </p>

        <p>
      <strong>Cumulative Points:</strong>
      <%= @year_team.total_yt_points %>
    </p>
    
    <p>
      <strong>Division:</strong>
      <%= @team.division.name %>
    </p>

    <p>
      <strong>Active:</strong>
      <%= @team.active==true ? "Yes" : "No" %>
      <!-- TODO: Add a toggle button here-->
    </p>

  </div>

  <!--div style="width: 300px; border-style: groove; padding-left: 10px; padding-right:10px; margin-left: 6px; margin-right: 6px; float: right; text-align:center;"-->
  <!--team members code used to be right here-->
  <!--</div>Members style-->
  <!--</div> div container-->

  <!--Theophilus begin-->

 <!--based off student_details equivalent-->
    <!--basing on topdown design-->
    <% unless @year_event_quizzes.empty? %>

    <h4>Breakdown of Scores for <%= @team.name %></h4>

    <table>
      <thead>
        <tr>
          <th align="center">Date</th>        
          <!--TODO (not 373 Spring '15): make dynamic -->
          <%round_counter = 1%>
          <% while round_counter <= @declared_num_rounds do%>
            <th><%= "Round #{round_counter}" %></th>
            <%round_counter+=1%>
          <% end %>
          <th>Total Points</th>
        </tr>
      </thead>

      <tbody>
        <% @year_event_quizzes.each do |event_quiz| %>
          <tr><!--each row is the quizzes of one event-->
            <td><%= link_to event_quiz.event.start_date.strftime('%b %Y'), event_path(event_quiz.event) %></td>
             <% quiz_teams = event_quiz.quiz_teams %>
            <!--empty quiz_teams or future-created ones (they have nil points)-->
            <% unless quiz_teams.empty? || quiz_teams.first.points.nil? %>
              <% quiz_teams.each do |quiz_team| %>
                <td align="center"><%= quiz_team.points %></td>
              <% end %><!--end quiz_teams.each-->
              <td align="center"><%= event_quiz.total_et_points %></td><!--for Total Points column-->

            <% else %><!--quiz_teams are empty so output dashes-->

              <%round_counter = 1%><!--Resetting the global round_counter!-->
              <% while round_counter <= @declared_num_rounds do%>
                <td> -- </td>
                <%round_counter+=1%>
              <% end %> <!--end while-->
              <td align="center"> -- </td><!--for Total Points column-->

            <% end %><!--end quiz_teams unless-->
          </tr>
        <% end %><!--end events.each-->
      </tbody>
    </table>

  <!--Theophilus discerns to keep this one-->
  <%else%><!--this team has no quiz_teams at all-->

    <div class="panel clearfix">
      <h4>No Competition for <%= @team.name %></h4>
    </div>

<!--Theophilus end-->

<!--The below is for if we're ever interested in Standing on the page -->
<!--     <%# if @team.active==true%>
    <p>
      <strong>Standing:</strong>
      <%# standing = 1 %>
      <%# @teams.each do |t| %>
        <%# t_score = 0 %>

        <% #Quick check that we should be comparing this team %>
        <%# if t.active==true && t.division_id == @team.division_id && t != @team %>
        
          <%# t.quizzes.each do |p| -%>
            <%# p.quiz_teams.each do |qt| %>

        <%# if qt.team == t && !qt.points.nil? %>
          <%# t_score += qt.points %>
        <%# end %>

      <%# end %>
          <%# end %>

          <%# if t_score > score %>
            <%# standing += 1 %>
          <%# end %>

        <%# end #team check %> 

      <%# end #list of all teams %>
      <%# standing %>
    </p>
    <%# end %> -->

  <% end %>
 
