<h1>Listing teams</h1>

<!-- TODO: Organization Picker & AJAX-->

<% @divisions.each do |d| %>
  <div style="background-color: #61b6d9; width:100%; text-align:center; border-top-left-radius: 50px; border-top-right-radius: 50px;">
    <b style="color:white; width:100%;"><%= d.name %></b>
  </div>
  <div>
    <table style="width:100%;">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Points</th>
	  <th>Organization</th>
	</tr>
      </thead>

      <tbody>
	<% @active_teams.each do |team| %>
	<% if team.division == d%>
	<tr>
          <td><%= link_to team.name, team_path(team) %></td>
          <td>
	    <% score = 0 %>
	    <% team.quizzes.each do |q| %>
	      <% q.quiz_teams.each do |qt| %>
	        <% if qt.team == team && !qt.points.nil? %>
		  <% score += qt.points %>
		<% end %>
	      <% end %>
	    <% end %>
	  <%= score %>
	  </td>
          <td><%= team.organization.name %></td>
	  <% if can? :update, team %>
            <td>
	      <%= link_to 'Edit', 
		  edit_team_path(team),
		  class: "button tiny radius" %>
	    </td>
	  <% end %>
	</tr>
	<% end %>
	<% end %>
      </tbody>
    </table>
  </div>
<% end %>
