  <div class="card white">

    <div class="card-content black-text">
      <span class="card-title black-text"><h4><%= @team.name %></h4></span>
      <div class="divider"></div>
      <p><span class="card-title black-text">
        Division:&nbsp;&nbsp;&nbsp;
        <%= "#{get_division_name_for_views(@team.division)}" %>&nbsp;&nbsp;
      </span></p>
      <div class="divider"></div>
        <% if @team.team_coaches.exists? %>
        <p><span class="card-title black-text">
          Coach:&nbsp;&nbsp;&nbsp;
          <% @team.team_coaches.coach.each do |c|%>
            <%= c.name %>&nbsp;&nbsp;
          <%end %>
          </span></p>
          <div class="divider"></div>
        <%end%>
      <br />
      <table class="responsive-table">
        <tr>
          <td align="right" width="50"><font size = "5">&nbsp;<%= @team.team_standing.total_points%></font></td>
          <td><p class="small">&nbsp;&nbsp;total points</p></td>
        </tr>
        <tr>
          <td align="right" width="50"><font size = "5">&nbsp;<%= number_with_precision @team.team_standing.accuracy%></font></td>
          <td><p class="small">&nbsp;&nbsp;accuracy rate</p></td>
        </tr>
      </table>

      <div class="divider"></div>

      <div class="card-content">
        <span class="card-title activator black-text">Team Members <i class="fa fa-angle-double-up"></i></i></span>
      </div>

      <div class="card-reveal">
        <span class="card-title black-text"><bold><%= @team.name %></bold> Team Members<i class="mdi-navigation-close right"></i></span>
        <table>
          <thead>
            <tr>
                <th>Seating</th>
                <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @students_by_seat.each do |s| %>
              <tr>
                <td><%= s.seat%></td>
                <td><%= link_to  s.student.proper_name, student_path(s.student.id) %> </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>

    </div>

  </div>