<div id="division1" class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content black-text">
        <h5>All Teams</h5>
          <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% count =0 %> 
            <% @junior_teams.each do |team| %>
              <% if count<10 %> 
                <tr>
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% else %>
                <tr class="more_junior_teams">
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% end %>
              <%count += 1 %>
              <%end %>
              <% if @junior_teams.length >= 10 %> 
                <tr>
                  <td></td>
                  <td style="text-align: right;"><a class="more_junior_teams" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-content black-text">
        <h5><i id="top-team-star-icon"class="fa fa-star-o"></i> Top Teams</h5>
        <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="id">Rank</th>
                <th data-field="name">Team</th>
                <th data-field="price">Score</th>
              </tr>
            </thead>
            <tbody>
              <% @junior_standings.each do |standing| %>
                <tr>
                  <td><%=standing.position %></td>
                  <td><%= link_to standing.team.name, team_path(standing.team) %></td>
                  <td><%=standing.total_points %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <div align="right"><%= link_to team_standings_path  do %> 
          More <i class="fa fa-angle-double-right"></i>
          <% end %></div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<div id="division2" class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content black-text">
        <h5>All Teams</h5>
          <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% count =0 %> 
            <% @senior_teams.each do |team| %>
              <% if count<10 %> 
                <tr>
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% else %>
                <tr class="more_senior_teams">
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% end %>
              <%count += 1 %>
              <%end %>
              <% if @senior_teams.length >= 10 %> 
                <tr>
                  <td></td>
                  <td style="text-align: right;"><a class="more_senior_teams" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-content black-text">
        <h5><i id="top-team-star-icon"class="fa fa-star-o"></i> Top Teams</h5>
        <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="id">Rank</th>
                <th data-field="name">Student</th>
                <th data-field="price">Score</th>
              </tr>
            </thead>
            <tbody>
              <% @senior_standings.each do |standing| %>
                <tr>
                  <td><%=standing.position %></td>
                  <td><%= link_to standing.team.name, team_path(standing.team) %></td>
                  <td><%=standing.total_points %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <div align="right"><%= link_to team_standings_path  do %> 
          More <i class="fa fa-angle-double-right"></i>
          <% end %></div>
      </div>
    </div>
  </div>
</div>


<!--  -->
<div id="division3" class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content black-text">
          <h5>All Teams</h5>
          <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% count =0 %> 
            <% @seniorb_teams.each do |team| %>
              <% if count<10 %> 
                <tr>
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% else %>
                <tr class="more_seniorb_teams">
                  <td><%= link_to team.name, team_path(team) %></td>
                  <td><%= team.organization.name %></td>
                </tr>
              <% end %>
              <%count += 1 %>
              <%end %>
              <% if @seniorb_teams.length >= 10 %> 
                <tr>
                  <td></td>
                  <td style="text-align: right;"><a class="more_seniorb_teams" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>


  <div class="col s4">
    <div class="card">
      <div class="card-content black-text">
        <h5><i id="top-team-star-icon"class="fa fa-star-o"></i> Top Teams</h5>
        <div class="divider"></div>
          <table class="responsive-table">
            <thead>
              <tr>
                <th data-field="id">Rank</th>
                <th data-field="name">Student</th>
                <th data-field="price">Score</th>
              </tr>
            </thead>
            <tbody>
              <% @seniorb_standings.each do |standing| %>
                <tr>
                  <td><%=standing.position %></td>
                  <td><%= link_to standing.team.name, team_path(standing.team) %></td>
                  <td><%=standing.total_points %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <div align="right"><%= link_to team_standings_path  do %> 
          More <i class="fa fa-angle-double-right"></i>
          <% end %></div>
      </div>
    </div>
  </div>
</div>
