<h5>All Teams</h5>


<div id="division1" class="col s12">
  <div class="row">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <h5 class="header">Junior</h5>
          <table class="hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% @active_teams.each do |team| %>
              <% if team.division == @divisions[0]%>
                  <tr>
                    <td><%= link_to team.name, team_path(team) %></td>
                    <td><%= team.organization.name %></td>
                  </tr>
              <%end%>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div id="division2" class="col s12">
  <div class="row">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <h5 class="header">Senior</h5>
          <table class="hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% @active_teams.each do |team| %>
              <% if team.division == @divisions[1]%>
                  <tr>
                    <td><%= link_to team.name, team_path(team) %></td>
                    <td><%= team.organization.name %></td>
                  </tr>
              <%end%>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<div id="division3" class="col s12">
  <div class="row">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <h5 class="header">SeniorB</h5>
          <table class="hoverable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Organization3</th>
              </tr>
            </thead>

            <tbody>
            <% @active_teams.each do |team| %>
              <% if team.division == @divisions[2]%>
                  <tr>
                    <td><%= link_to team.name, team_path(team) %></td>
                    <td><%= team.organization.name %></td>
                  </tr>
              <%end%>
            <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>