<%= simple_form_for(@quiz) do |f| %>
  <fieldset>
    <% if @quiz.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

        <ul>
        <% @quiz.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= f.input :division_id, collection: Division.active.alphabetical, prompt: "Please select Division..." %>
      <%= f.input :category_id, collection: Category.alphabetical, prompt: "Please select Category..." %>
      <%= f.input :room_num %><br>
      <%= f.input :round_num %><br>
      <%= f.input :active %><br>

    <div class="form-actions">
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', quizzes_path, :class => 'button secondary' %>
    </div>

  </fieldset>
<% end %>
