<div class="container">
	<div class="centered">
		<div class="card blue-grey darken-1">
            <div class="card-content white-text">
			<span class="card-title">Login</span>

				<%= form_tag(session_create_path, method: :post) do %>
					<br>
					<%= label_tag :username %>
					<%= text_field_tag 'username' %>
					<br>
					<%= label_tag :password %>
					<%= password_field_tag 'password' %>
				<% end %>

            	<div align="right">	
					<%= submit_tag "Log in" %>    
				</div>
            </div>

		</div>
	</div>
</div>
