<p id="notice"><%= notice %></p>
<h2><%= @student.proper_name %> </h2>

<p>
  <strong>Current Team:</strong>
  <%= @student.current_team.name %>
</p>

<p>
  <strong>Grade - Division:</strong>
  <%= "#{@student.grade} - #{@student.current_team.division.name}" %>
</p>

<p>
  <strong>Cumulative Points:</strong>
  <%= @year_quizzer.total_points %>
</p>

<p>
  <strong>Average Accuracy:</strong>
  <!--TODO: make use of the below from the controller; format it correctly-->
  <%= "#{@accuracy_percentage}%" %>
</p>

<br>




