<p id="notice"><%= notice %></p>
<h3>Student Information for <%= @student.proper_name %> </h3>

<p>
  <strong>Student Name:</strong>
  <%= @student.proper_name %>
</p>

<p>
  <strong>Current Team:</strong>
  <%= @student.current_team.name %>
</p>

<p>
  <!-- TODO: does an inactive student have a division? -->
  <strong>Grade | Division:</strong>
  <%= "#{@student.grade}" " | #{@student.current_team.division.name}" %>
</p>

<p>
  <strong>Captain:</strong>
  <!-- TODO: figure out how to determine student is captain -->
  <%#= @student.student_teams.is_captain %>
</p>

<p>
  <strong>Cumulative Points</strong>
  <%= @quizzer.total_points %>
</p>

<p>
  <strong>Average Accuracy</strong>
  <!--TODO: make use of the below from the controller; format it correctly-->
  <%#= "#{@accuracy_percentage}%" %>
  <%= "#{@quizzer.total_accuracy}" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active? ? "Yes" : "No" %>
</p>

