<p id="notice"><%= notice %></p>
<h3>Student Information for <%= @student.proper_name %> </h3>

<p>
  <strong>Student Name:</strong>
  <%= @student.proper_name %>
</p>

<p>
  <strong>Current Team:</strong>
  <%= @student.current_team.name %>
</p>

<p>
  <!-- TODO: does an inactive student have a division? -->
  <strong>Grade - Division:</strong>
  <%= "#{@student.grade}" " - #{@student.current_team.division.name}" %>
</p>

<p>
  <strong>Captain:</strong>
  <!-- TODO: figure out how to determine student is captain -->
  <%#= @student.student_teams.is_captain %>
</p>

<p>
  <strong>Cumulative Points</strong>
  <%= @quizzer.total_points %>
</p>

<p>
  <strong>Average Accuracy</strong>
  <!--TODO: make use of the below from the controller; format it correctly-->
  <%#= "#{@accuracy_percentage}%" %>
  <%= "#{@quizzer.total_accuracy}" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active? ? "Yes" : "No" %>
</p>



<!--Copied and pasted-->

<% unless @all_student_quizzes.empty? %>

  <h4>
    Breakdown of Scores for <%= @student.proper_name %>
  </h4>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <!--TODO: proper loop logic-->
        <th>Round 1</th>
        <th>Round 2</th>
        <th>Round 3</th>
        <th>Round 4</th>
        <th>Round 5</th>
        <th>Round 6</th>
        <th>Total Points</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr><!--each row is the quizzes of one event-->
          <!--TODO link to event standings-->
          <td><%= event.start_date %></td>
          <% @student_quizzes = EventQuizzer.new(@student,event).student_quizzes %>
          <% unless @student_quizzes.empty? %>
            <% @student_quizzes.each do |student_quiz| %>
              <td><%= student_quiz.score %></td>
            <% end %>
          <% else %>
            <!--make an appropriate loop-->
              <td><%= "--" %></td>
          <% end %><!--end student_quiz-->
          <td><%= EventQuizzer.new(@student,event).total_points %></td>
        </tr>
      <% end %><!--end events-->
    </tbody>
  </table>

<%else%>

  <div class="panel clearfix">
    <h4>No Competition</h4>
  </div>

<% end %>


