<p id="notice"><%= notice %></p>
<h3><%= @student.proper_name %> </h3>

<p>
  <strong>Current Team:</strong>
  <%= @student.current_team.name %>
</p>

<p>
  <strong>Grade - Division:</strong>
  <%= "#{@student.grade} - #{@student.current_team.division.name}" %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @student.is_captain? ? "Yes" : "No" %>
</p>

<p>
  <strong>Cumulative Points</strong>
  <%= @year_quizzer.total_points %>
</p>

<p>
  <strong>Average Accuracy</strong>
  <!--TODO: make use of the below from the controller; format it correctly-->
  <%= "#{@accuracy_percentage}%" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active? ? "Yes" : "No" %>
</p>


<% unless @year_event_quizzes.empty? %>

  <h4>Breakdown of Scores for <%= @student.proper_name %></h4>

  <table>
    <thead>
      <tr>
        <th>Date</th>        
        <!--TODO (not 373 Spring '15): make dynamic -->
        <%round_counter = 1%>
        <% while round_counter <= @declared_num_rounds do%>
          <th><%= "Round #{round_counter}" %></th>
          <%round_counter+=1%>
        <% end %>
        <th>Total Points</th>
      </tr>
    </thead>

    <tbody>
      <% @year_event_quizzes.each do |event_quiz| %>
      <tr><!--each row is the quizzes of one event-->
        <td><%= link_to event_quiz.event.start_date.strftime('%b %Y'), event_path(event_quiz.event) %></td>
          <% student_quizzes = event_quiz.student_quizzes %>
          <!--empty student_quizzes or future-created ones (they have nil scores as their first quiz (round 1))-->
          <% unless student_quizzes.empty? || student_quizzes.first.score.nil? %>
            <% student_quizzes.each do |student_quiz| %>
              <td><%= student_quiz.score %></td>
            <% end %><!--end student_quizzes.each-->
            <td><%= event_quiz.total_points %></td><!--for Total Points column-->

          <% else %><!--student_quizzes are empty so output dashes-->

            <%round_counter = 1%><!--Resetting the global round_counter!-->
            <% while round_counter <= @declared_num_rounds do%>
              <td> -- </td>
              <%round_counter+=1%>
            <% end %> <!--end while-->
            <td> -- </td><!--for Total Points column-->

          <% end %><!--end event_quizzes unless-->
        </tr>
      <% end %><!--end events.each-->
    </tbody>
  </table>

<!--Theophilus discerns to keep this one-->
<%else%><!--this person has no event_quizzes at all-->

  <div class="panel clearfix">
    <h4>No Competition for <%= @student.proper_name %></h4>
  </div>

<% end %>


