<%= simple_form_for(@student) do |f| %>
  <h5>Organization</h5>
  <fieldset>
      <!-- TODOA: Ajax for selecting switching between organizations and organizations' teams -->

      <%= f.input :organization_ids, label: "Organization:", collection: Organization.active.alphabetical, prompt: "Organization" %><br />

      <!-- TODO: Figure out with Prof H how to do pre-selected radio boxes -->
      <%= f.input :team_ids, label: "Team:", collection: @student.current_organization.teams.active.alphabetical.for_division(@student.current_team.division), as: :radio_buttons, :checked => true %><br />

    <div class="form-actions">
      <!-- submit button is working, but the form doesn't close -->
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', students_path, :class => 'button secondary' %>
    </div>

  </fieldset>
<% end %>
