<p id="notice"><%= notice %></p>
<h3><%= @student.proper_name %> </h3>

<p>
  <strong>Current Team:</strong>
  <%= @student.current_team.name %>
</p>

<p>
  <strong>Grade - Division:</strong>
  <%= "#{@student.grade} - #{@student.current_team.division.name}" %>
</p>

<p>
  <strong>Captain:</strong>
  <%= @student.is_captain? ? "Yes" : "No" %>
</p>

<p>
  <strong>Cumulative Points:</strong>
  <%= @year_quizzer.total_points %>
</p>

<p>
  <strong>Average Accuracy:</strong>
  <!--TODO: make use of the below from the controller; format it correctly-->
  <%= "#{@accuracy_percentage}%" %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active? ? "Yes" : "No" %>
</p>





