<!-- TODO1: This does not work for new students -->
<%= simple_form_for(@student_team) do |f| %>
  <fieldset>
      <!-- TODOA: Ajax for selecting switching between organizations and organizations' teams -->
      <%= f.input :team_id, label: "Team:", collection: @collection, 
      as: :radio_buttons, :checked => @team_id %><br />

      <!-- using this for now because label method doesn't work -->
      <!-- TODO: Figure out which way is clearer -->

      <%= f.input :is_captain, label: "Captain" %>

      <%#= f.collection_radio_buttons :is_captain, [ [true, 'Yes' ], [false, 'No'] ], :first,:last, :label => "Captain",  :checked => @student_team.is_captain %>


    <div class="form-actions">
      <!-- submit button is working, but the form doesn't close -->
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', students_path, :class => 'button secondary' %>
    </div>

  </fieldset>
<% end %>

<%#= form_tag do %>
  <%#= radio_button_tag(:team_id, "Team") %>

