  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to "Bible Quizzing", home_path %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <%= link_to "Events", events_path %>
          </li>

          <li>
            <%= link_to "Students", students_path %>
          </li>

          <li>
            <%= link_to "Teams", teams_path %>
          <li>

          <li>
            <%= link_to "Organizations", organizations_path %>
          <li>
          
        </ul>
      </section>
    </nav>
  </div>