<header>
<nav class="top-nav cyan lighten-2">
  <div class="container">
    <div class="nav-wrapper">
    
    <ul class ="left">
      <li class ="bold"> <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a></li>
      <li class ="bold"><a class="page-title"><%= current_settings.area_name %></a></li>
    </ul>

    <ul class="right">
        <li id="toggle-search"><i class="fa fa-search right left"></i>&nbsp;&nbsp;&nbsp;Search </li>
        <% if logged_in? %>
          <li><%= link_to logout_path do %>
    		    <i class="fa fa-sign-out right left"></i>Logout
    	     <% end %></li>
        <% else %>
          <li><%= link_to login_path do %>
            <i class="fa fa-sign-in right left"></i>Login
          <% end %></li>
        <% end %>
    </ul>
    </div>
  </div>
  </nav>

  <div class="row white-text blue-grey darken-3" id="search-bar">
    <div class="container">
      <div class="nav-wrapper">
        <%= form_tag search_students_path, method: :get do %>
          <%= text_field_tag :q, params[:q], placeholder: 'Search students...' %>
        <% end %>
<!--         <form action="/search" method="get">
          <input class="form-control" type="text" name="q" placeholder="Search Students...">
          <input type="hidden" name="as_sitesearch">
        </form> -->
      </div>
    </div>
  </div>

</header>
