<%= simple_form_for(@user) do |f| %>
  <fieldset>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= f.input :username %><br>
      <%= f.input :role %><br>
      <%= f.input :password_hash %><br>
      <%= f.input :password_salt %><br>
      <%= f.input :active %><br>

    <div class="form-actions">
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', users_path, :class => 'button secondary' %>
    </div>

  </fieldset>
<% end %>
