<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Student</th>
      <th>Team</th>
      <th>Points</th>
      <th>Low</th>
      <th>Adjusted</th>
      <th>Accuracy</th>
    </tr>
  </thead>

	<tbody>
		<th>Seniors</th>
			<% @seniors.each do |s| %>
			<tr>
				<td><%= s.position %></td>
				<td><%= s.student.name %></td>
				<td><%=	s.student.current_team.name %></td>
				<td><%= s.total_points %></td>
				<td><%= s.lowest_score %></td>
				<td><%= s.adjusted_points%></td>
				<td><%= s.accuracy %></td>
			</tr>
			<% end %>
	</tbody>
</table>