<!--uses standings_controller which uses year_quizzer model-->
<% unless @quizzers.empty? %>

  <h3><%= "#{@division.name} Division Individual Standings" %></h3>

  <table>
    <thead>
      <tr>
        <!--TODO: rank logic-->
        <th>Name</th>
        <th>Team</th>
        <th>Points</th>
        <th>Low</th>
        <th>Adjusted Points</th>
        <th>Accuracy</th>
      </tr>
    </thead>

    <tbody>
      <% @quizzers.each do |quizzer| %>
        <tr>
          <td><%= link_to quizzer.name, student_path(quizzer) %></td>
          <td><%= link_to quizzer.team.name, team_path(quizzer.team) %></td>
          <td><%= quizzer.total_points %></td>
          <td><%= quizzer.lowest_points %></td>
          <% results = YearQuizzer.new(@quizzer).results %>
          <td><%= results.total_accuracy %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%else%>

  <div class="panel clearfix">
    <h3><%= "No #{@division.name} Division Individual Standings" %></h3>
  </div>

<% end %>