<div class="card white">
  <div id="standings-table" class="card-content black-text">
    <table class="responsive-table">
     <thead>
      <tr>
        <th>Rank</th>
        <th>Student</th>
        <th>Team</th>
        <th>Points</th>
        <th>Low</th>
        <th>Adjusted</th>
        <th>Accuracy</th>
      </tr>
    </thead>
    <tbody>
      <% individual.each do |j| %>
      <tr>
        <td><%= j.position %></td>
        <td><%= link_to j.student_name, student_path(j.student_id) %></td>
        <td><%= link_to j.team_name, team_path(j.team_id) %></td>
        <td><%= j.total_points %></td>
        <td><%= j.lowest_score %></td>
        <td><%= j.adjusted_points%></td>
        <td><%= j.accuracy %></td>
      </tr>
      <% end %>
      <tr>
        <% (0...6).each do %>
          <td></td>
        <%end %>
        <td align="left"><%= link_to indiv_standings_path  do %> 
          More <i class="fa fa-angle-double-right"></i>
          <% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>