<!--uses standings_controller which uses year_quizzer model-->

<% division = passed_in_div %>
<% @year_div_quizzers = YearQuizzer.get_all_quizzers_for_division_for_year(division) %>

<% unless @year_div_quizzers.empty? %><!--No quizzers for this division (highly unlikely and probably unrealistic)-->

  <div class="blue_table_header">
    <b style="color:white; width:100%;"><%= division.name %></b>
  </div>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <% rank_counter = 0 %>
        <th>Name</th>
        <th>Team</th>
        <th>Points</th>
        <th>Low</th>
        <th>Adjusted Points</th>
        <th>Accuracy</th>
      </tr>
    </thead>

    <tbody>
      <% @year_div_quizzers.each do |q| %>
        <% unless q.total_points == 0 %><!--Didn't compete-->
        <tr>
          <% rank_counter+=1 %><!--first quizzer's rank outputted as 1-->
          <td style="text-align: center;"><%= rank_counter %></td>
          <td><%= link_to q.name, student_path(q.quizzer) %></td>
          <td><%= link_to q.team.name, team_path(q.team) %></td>
          <td style="text-align: center;"><%= q.total_points %></td>
          <td style="text-align: center;"><%= q.lowest_points %></td>
          <td style="text-align: center;"><%= q.adjusted_points %></td>
          <td style="text-align: center;"><%= q.total_accuracy %></td>
        </tr>
        <% end %><!--unless-->
      <% end %>
    </tbody>
  </table>

<% end %>
