<!--first copied and pasted from individual standings-->
<!--TODO: turn into tab with individual standings-->

<% @divisions.each do |division| %>
  <% @year_div_teams = YearTeam.get_all_teams_for_division_for_year(division) %>

  <% unless @year_div_teams.empty? %><!--No teams for this division (highly unlikely and probably unrealistic)-->

    <h3><%= "#{division.name} Team Standings" %></h3>

    <table>
      <thead>
        <tr>
          <th>Rank</th>
          <% rank_counter = 0 %>          
          <th>Name</th>
          <th>Points</th>
        </tr>
      </thead>

      <tbody>
        <% @year_div_teams.each do |team| %>
          <tr>
            <% rank_counter+=1 %><!--first team's rank outputted as 1-->
            <td><%= rank_counter %></td>
            <td><%= link_to team.name, team_path(team.team) %></td>
            <td><%= team.total_yt_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <%else%><!--No teams for this division-->

    <div class="panel clearfix">
      <h3><%= "No #{division.name} Team Standings" %></h3>
    </div>

  <% end %>

<% end %>