<div class="container">
  <%= link_to team_standings_path, id: "standings-heading" do %>
  <h4>Team Standings</h4><%end%>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a class="active" href="#division1">Junior</a></li>
        <li class="tab col s2"><a href="#division2">Senior</a></li>
        <li class="tab col s2"><a href="#division3">Senior B</a></li>
      </ul>
    </div>
    
    <div id="division1" class="col s12">
      <div class="row">
        <div class="col 12 m12">
            <%= render(:partial => "team_standings", :locals => {:team => @team_juniors})%>
          </div>
        </div>
      </div>

      <div id="division2" class="col s12">
        <div class="row">
          <div class="col 12 m12">
            <%= render(:partial => "team_standings", :locals => {:team => @team_seniors})%>
            </div>
          </div>
        </div>

      <div id="division3" class="col s12">
        <div class="row">
          <div class="col 12 m12">
             <%= render(:partial => "team_standings", :locals => {:team => @team_seniorb})%>
        </div>
      </div>
    </div>
</div>


    <%= link_to indiv_standings_path, id: "standings-heading" do %>
    <h4>Individual Standings</h4><%end%>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s2"><a class="active" href="#indiv1">Junior</a></li>
          <li class="tab col s2"><a href="#indiv2">Senior</a></li>
          <li class="tab col s2"><a href="#indiv3">Senior B</a></li>
        </ul>
      </div>
      <div id="indiv1" class="col s12">
        <div class="row">
          <div class="col m12">
             <%= render(:partial => "individual_standings", :locals => {:individual => @indiv_juniors})%>
          </div>
        </div>
      </div>

      <div id="indiv2" class="col s12">
        <div class="row">
          <div class="col 12 m12">
              <%= render(:partial => "individual_standings", :locals => {:individual => @indiv_seniors})%>
            </div>
          </div>
        </div>

      <div id="indiv3" class="col s12">
        <div class="row">
          <div class="col 12 m12">
            <%= render(:partial => "individual_standings", :locals => {:individual => @indiv_seniorb})%>
        </div>
      </div>
    </div>

  </div>

