<ul class = "tabs" data-tab>
	<li class = "tab-title active"><a href="#activeroster">Active</a></li>
	<li class = "tab-title"><a href="#inactiveroster">Inactive</a></li>
</ul>
<div class = "tabs-content">
	<div class = "content active" id = "activeroster">
		<h3>Active Students</h3>
		<% @active_teams.each do |team| %>
		<% unless team.students.empty? %>
		<table class="table table-striped" id="roster"> [<%= team.division.name %>] <%= team.name %> 
			<thead>
				<th>Student Name</th>
				<th>[switch to team]</th>
				<th>Deactivate</th>
			</thead>
			<% team.students.each do |student| unless student.active == false %>
			<tbody>
				<td><%= link_to student.proper_name, student_path(student) %></td>
				<td></td>
				<td class="centered"><%= link_to(image_tag("icons/check_green.gif"), toggle_path(student, status: 'inactive'), remote: true, method: 'patch') %></td>
			</tbody>
			<% end %>
			<% end %>
		</table>
		<div class="form-actions">
			<%= link_to 'Add existing Student to Team', edit_team_path(team), class: 'tiny button radius' %>
			<%= link_to(new_student_path(team_id: team.id), id: 'new_student_link', class: 'button tiny radius', remote: true) do %>
			<!-- <i class="fa fa-clipboard"></i> -->
			&nbsp;Add New Student to Team
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>
	<div class = "content" id = "inactiveroster">
		<h3>Inactive Students</h3>
		<% @inactive_students.each do |student| %>
		<table>
			<thead>
				<th>Student Name</th>
				<th>Add to Team</th>
			</thead>
			<tbody>
				<td><%= link_to student.proper_name, student_path(student) %></td>
				<td>Somehow activate student and then show their page where they can be added to a team</td>
			</tbody>
		</table>
		<div class="form-actions">
			<%= link_to 'Add new Student', new_student_path, class: 'tiny button radius' %>
		</div>
		<% end %>
	</div>
</div>