<!-- Partial for students without a team -->
</br>
<%= link_to(new_student_path, id: 'new_student_link', class: 'button tiny radius', remote: true) do %>
  <!-- <i class="fa fa-clipboard"></i> -->
  &nbsp;Add New Student
<% end %>

<% unless @new_students.empty? %>
	<h3>New Students Without a Team</h3><br />
	<table>
	   	<thead>
	   		<tr>
				<th>Name</th>
				<th>Grade</th>
				<th>Organization</th>
				<th>Add to Team</th>
			</tr>
		</thead>

		<tbody>
			<% @new_students.each do |student| %>
				<tr>
					<td><%= link_to student.name, student_path(student) %></td>
					<td style="text-align: center;"><%= student.grade %></td>
					<td><%= student.current_organization.short_name %></td>
					<%= simple_form_for @student_team do |f| %>
					<%= f.input :student_id, as: :hidden, input_html: {value: student.id} %>
							<!-- Add new team -->
							<td><%= f.input :team_id, label: false, collection: get_team_options(student), prompt: "Select team" %>
							<%= f.submit 'Add to Team', class: 'button tiny radius'%></td> 
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>
