<!-- Event Details -->
<h3><%= "#{@event.start_date.strftime('%B')} quiz results for #{@event.organization.name}" %> </h3>
  <strong>Date:</strong>
  <%= @event.start_date.strftime('%B %d, %Y') %> <%= "- #{@event.end_date.strftime('%B %d, %Y')}" %> <br /><br />

  <strong>Start Time:</strong>
  <%= @event.start_time.strftime('%l:%M AM') %>
  <br /><br />

<% if @event.start_date <= Date.today %>
  <strong>Address:</strong>
  <%= "#{@event.organization.street_1}, #{@event.organization.city}, #{@event.organization.state}, #{@event.organization.zip}" %><br /><br />
<% end %>

  <!-- TODO: how to do this? put code in model or controller -->
  <!--<strong>Contact Person:</strong><br /><br />-->

<% @divisions.each do |dvsn| %>

 <div class="small-3 columns">
   <%= render partial: "event_standings", locals: { passed_in_div: dvsn } %>
 </div>

<% end %>
