<% if @event.start_date > Date.today %>
  <h3><%= "#{@event.start_date.strftime('%B, %Y')} Quiz" %> </h3>
<% else %>
  <h3><%= "#{@event.start_date.strftime('%B, %Y')} Quiz Results" %> </h3>
<% end %>

<strong>Date:</strong>
<%= @event.start_date.strftime('%B %d, %Y') %> <%= "- #{@event.end_date.strftime('%B %d, %Y')}" %> <br /><br />

<strong>Start Time:</strong>
<%= @event.start_time.strftime('%l:%M AM') %>
<br /><br />


<strong>Address:</strong>
<%= "#{@event.organization.street_1}, #{@event.organization.city}, #{@event.organization.state}, #{@event.organization.zip}" %><br /><br />

<%= link_to 'Event Schedule', schedule_path, class: :" btn waves-effect waves-light" %>