<!-- Event Details -->
<h3>Information for Event at <%= @event.organization.name %> </h3>
  <strong>Date:</strong>
  <%= @event.start_date.strftime('%B %d, %Y') %> <%= "- #{@event.end_date.strftime('%B %d, %Y')}" %> <br /><br />

  <strong>Address:</strong>
  <%= "#{@event.organization.street_1}, #{@event.organization.city}, #{@event.organization.state}, #{@event.organization.zip}" %><br /><br />

  <strong>Contact Person:</strong><br /><br />
  <!-- TODO: how to do this? put code in model or controller -->

  <strong>Teams:</strong>
  
  <%# @quizzes.each do |quiz| %>
      <%# quiz.teams.each do |team| %>
        <!--<li><%#= team.name %></li>-->
      <%# end %>
  <%# end %> <br /><br />



<%= link_to 'Edit', edit_event_path(@event), class: "button tiny radius" %>
<%= link_to 'Back', events_path, class: 'button tiny secondary radius' %>
