<!-- TODO: add organization to event, change dates to american style mm/dd/yyyy -->
<%= simple_form_for @event, html: { class: 'form-horizontal' } do |f| %>
  <div class ="row">
    <% if @event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class ="small-6 columns">
      <%= f.input :start_date, label: "Start Date", as: :string, :input_html => {:class => "datepicker"} %>
      <br>
      <%= f.input :end_date, label: "End Date", as: :string, :input_html => {:class => "datepicker"} %>
      <br>
      <%= f.input :start_time %>
      <br>
      <%= f.input :num_rounds %>

      <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Cancel', events_path, class: 'button secondary radius' %>
      </div>
  </div>

  <div class="small-1 columns"></div>

  <div class="small-5 columns"></div>
  </div>
<% end %>
