<div class="container">
  <br>
  <div class ="row">
    <%= form_tag schedule_path(@event), method: :get do  %>
      <div class ="row">
        <div class ="input-field col 10">
          <%= select_tag :division_id, options_from_collection_for_select(@divisions, 'id', 'name', selected: @division_id), id: 'division_switch' %>
          <!-- <input id="setting_area_name" name="setting[area_name]" type="text"/> -->
          <label for="division_id">Select Division</label>
        </div>
      </div>

      <div class ="row">
        <div class ="input-field col 10">
          <%= select_tag :team_id, options_from_collection_for_select(@teams, 'id', 'name', selected: @team_id), id: 'team_switch' %>
          <!-- <input id="setting_area_name" name="setting[area_name]" type="text"/> -->
          <label for="team_id">Select Team</label>
        </div>
      </div>

    <div class="form-actions">
      <%# submit nil, class: 'btn large', value: 'Submit' %>
    </div>

    <% end %>
  </div>

<table class="striped responsive">
  <thead>
    <tr>
        <th>Round</th>
        <th>Room</th>
        <th>Position 1</th>
        <th>Position 2</th>
        <th>Position 3</th>
    </tr>
  </thead>
  <tbody>
    <% count=1 %>
    <% @matrix.each do |m|%>
      <%if m[0] > count%>
        <tr>
          <td><%=count%></td>
          <td>N/A</td>
          <td>BYE</td>
          <td></td>
          <td></td>
        </tr>
        <%count += 1%>
      <%end%>
      <%if m[2].team_id == @team.id%>
        <tr>
          <td><%=m[0]%></td>
          <td><%=m[1]%></td>
          <td><strong><%=m[2].team.name%></strong></td>
          <td><%=m[3].team.name%></td>
          <td><%=m[4].team.name%></td>
        </tr>
        <%count += 1%>
      <% elsif m[3].team_id == @team.id%>
        <tr>
          <td><%=m[0]%></td>
          <td><%=m[1]%></td>
          <td><%=m[2].team.name%></td> 
          <td><strong><%=m[3].team.name%></strong></td>
          <td><%=m[4].team.name%></td>
        </tr>
        <%count += 1%>
      <% elsif m[4].team_id == @team.id%>
        <tr>
          <td><%=m[0]%></td>
          <td><%=m[1]%></td>
          <td><%=m[2].team.name%></td>
          <td><%=m[3].team.name%></td>
          <td><strong><%=m[4].team.name%></strong></td>
        </tr>
        <%count += 1%>
      <%elsif count == @total_round_num && m == @matrix.last %>
        <tr>
          <td><%=count%></td>
          <td>N/A</td>
          <td>BYE</td>
          <td></td>
          <td></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>