<div class="container">
  <h3>Settings for <%= sub = @setting.area_name.humanize %></h3>
  <br />

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title black-text">Edit Settings</span>
          <p>Click here to edit settings for the entire <%= sub %> division. </p>
        </div>
        <div class="card-action center-align">
          <%= link_to edit_setting_path(@setting), class: "waves-effect waves-light btn-large white-text" do %>
          <i class="mdi-action-settings"></i>&nbsp;Edit<% end %>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
        <div class="card blue-grey lighten-5">
          <div class="card-content black-text">
            <span class="card-title black-text">Add Organization</span>
            <p>Click here to create and organization and coach. </p>
        </div>
        <div class="card-action center-align">
          <%= link_to new_organization_path(@organization), class: "waves-effect waves-light btn-large white-text" do %>
          <i class="fa fa-home"></i>&nbsp;Add Organization<% end %>
        </div>        
        </div>
    </div>

  </div>

<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title black-text">Update All Standings</span>
          <p>Choosing this option will recalculate all standings for the entire <%= sub %> division.  This may take a few minutes.</p>
        </div>
        <div class="card-action center-align">
          <%= link_to update_area_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
          <i class="fa fa-trophy"></i>&nbsp;Update All<% end %>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
          <span class="card-title black-text">Update Standings Seperately</span>
          <p>Choose below to update either team or individual standings.</p>
        </div>
        <div class="card-action center-align">
          <%= link_to update_team_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
          <i class="small mdi-social-group"></i>&nbsp;&nbsp;Team<% end %>

          <%= link_to update_indiv_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
          <i class="small mdi-social-person"></i>&nbsp;Individual<% end %>

        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col s12 m6">
      <%= render(:partial => "edit_area_division")%>
    </div>
    <div class="col s12 m6">
      <%= render(:partial => "edit_question_type")%>
    </div>
  </div>
</div>

<!-- make sure this is captured by github -->