<div class="container">
	<h3>Settings</h3>
  <br />
  <h5>Update Standings for <%= sub = request.subdomain.humanize %></h5>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey">
            <div class="card-content white-text">
              <span class="card-title">Update All Standings</span>
              <p>Choosing this option will recalculate all standings for the entire <%= sub %> division.  This may take a few minutes.</p>
            </div>
            <div class="card-action center-align">
				<%= link_to update_area_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
				<i class="fa fa-trophy"></i>&nbsp;Update All<% end %>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card blue-grey">
            <div class="card-content white-text">
              <span class="card-title">Update Seperately</span>
              <p>Choose below to update either team or individual standings.</p>
            </div>

            <div class="card-action center-align">
              <%= link_to update_team_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
              <i class="fa fa-group"></i>&nbsp;&nbsp;Team<% end %>

              <%= link_to update_indiv_standings_path, class: "waves-effect waves-light btn-large white-text" do %>
              <i class="fa fa-user"></i>&nbsp;Individual<% end %>

            </div>
          </div>
        </div>


      </div>
</div>