<%= simple_form_for(@coach) do |f| %>
  <fieldset>
    <% if @coach.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>
        <ul>
        <% @coach.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <% if current_user.role?(:admin) || current_user.role?(:area_admin) %>
      <%= f.input :organization_id, collection: Organization.active.alphabetical, prompt: "Select organization..." %>
    <% end %>
    <%= f.input :phone %>
    <%# username can only be created, not edited, so only display on new form %>
    
    <%= f.simple_fields_for :user do |user_form| %>
      <%= user_form.input :email %>
      <% if controller.action_name == 'new' %>
        <%= user_form.input :username %>
      <% end %> 
    <% end %>
    <%= f.input :active %>
    
    <div class="form-actions">
      <%= f.submit nil, class: 'button' %>
      <%= link_to 'Cancel', coaches_path, :class => 'button secondary' %>
    </div>
  </fieldset>
<% end %>
