<!-- add if statement to hide if empty -->
<div class="card white">
  <div class="card-content black-text">
    <span class="card-title black-text"><i id="most-improved-icon" class="fa fa-thumbs-o-up"></i> Most Improved </span>
    <div class="divider"></div>
    <table class="center">
      <thead>
        <th> Student Name </th>
        <th> Total Points </th>
        <th> Point Increase </th>
        <th> Accuracy </th>
      </thead>
      <tbody>
        <% count = 0 %>
        <% most_improved.each do |s| %>
        <% if count < 5 %>
          <tr>
            <% s.each_with_index do |i, x| %>
            <% if x == 0 %>
              <td><%= link_to s[x].proper_name, student_path(s[x]) %></td>
            <% elsif x == 3 %>
              <td><%= number_with_precision i %></td>
            <% else %>
               <td><%= i %></td>
            <% end %>
            <% end %>
          </tr>
          <% else %>
          <tr class="more-improved-students">
            <% s.each_with_index do |i, x| %>
            <% if x == 0 %>
              <td><%= link_to s[x].proper_name, student_path(s[x]) %></td>
            <% elsif x == 3 %>
              <td><%= number_with_precision i %></td>
            <% else %>
               <td><%= i %></td>
            <% end %>
            <% end %>
          </tr>
          <% end %>
          <% count += 1 %>
        <% end %>
        <% if most_improved.length >= 6 %> 
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td align="left"><a class="more-improved-students" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>