<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @coach.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @coach.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @coach.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @coach.user.nil? ? 'N/A' : @coach.user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @coach.user.nil? ? 'N/A' : @coach.user.username %>
</p>

<p>
  <strong>Active?:</strong>
  <%= @coach.active ? "Yes" : "No" %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', coaches_path %>
