<div id="senior_students">
  <div class="card blue-grey lighten-5">
    <div class="subtitle card-content black-text">
      <span class="card-title black-text">
        <div class="row">
          <div class="col m8"><i class="small mdi-social-person"></i> Students</div>
          <div class="col m4">
            <p class="total center"> Total: <%=student_type.size%> </p>
          </div>
        </div>
      </span>
      <div class="divider"></div>
      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Grade</th>
          <th>Active</th>
        </thead>
        <tbody>
          <% count = 0 %>
          <% student_type.each do |s| %>
            <% if count < 5 %>
              <tr>
                <td><%=s.first_name%></td>
                <td><%=s.last_name%></td>
                <td><%=s.grade%></td>
                <% if s.active == true %>
                  <td><%= link_to toggle_student_path(s, active: false), remote: true, method: 'patch' do %>
                  <i class="mdi-toggle-check-box tiny"></i>
                  <% end %>
                  </td>
                <% else %>
                  <td><%= link_to toggle_student_path(s, active: true), remote: true, method: 'patch' do %>
                    <i class="mdi-navigation-cancel tiny"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% else %>
              <tr class="more-students">
                <td><%=s.first_name%></td>
                <td><%=s.last_name%></td>
                <td><%=s.grade%></td>
                <% if s.active == true %>
                  <td><%= link_to toggle_student_path(s, active: false), remote: true, method: 'patch' do %>
                  <i class="mdi-toggle-check-box tiny"></i>
                  <% end %>
                  </td>
                <% else %>
                  <td><%= link_to toggle_student_path(s, active: true), remote: true, method: 'patch' do %>
                    <i class="mdi-navigation-cancel tiny"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
            <% count += 1 %>
          <%end%>
          <% if student_type.length >= 6 %> 
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td align="left"><a class="more-students" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>