<div id="teams">
  <div class="card blue-grey lighten-5">
    <div class="subtitle card-content black-text">
      <span class="card-title black-text">
        <div class="row">
          <div class="col m8"><i class="small mdi-social-group"></i> Teams</div>
          <div class="col m4">
            <p class="total center"> Total: <%=team_type.size%> </p> 
          </div>
        </div>
      </span>
      <div class="divider"></div>
      <table>
        <thead>
          <th>Name</th>
          <th>Division</th>
          <th>Active</th>
        </thead>
        <tbody>
          <% count = 0 %>
          <% team_type.each do |t| %>
            <% if count < 5 %>
              <tr>
                <td><%=t.name%></td>
                <td><%=get_division_name_for_views(t.division)%></td>
                <% if t.active == true %>
                  <td><%= link_to toggle_team_path(t, active: false), remote: true, method: 'patch' do %>
                  <i class="mdi-toggle-check-box tiny"></i>
                  <% end %>
                  </td>
                <% else %>
                  <td><%= link_to toggle_team_path(t, active: true), remote: true, method: 'patch' do %>
                    <i class="mdi-navigation-cancel tiny"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% else %>
              <tr class="more-teams">
                <td><%=t.name%></td>
                <td><%=get_division_name_for_views(t.division)%></td>
                <% if t.active == true %>
                  <td><%= link_to toggle_team_path(t, active: false), remote: true, method: 'patch' do %>
                  <i class="mdi-toggle-check-box tiny"></i>
                  <% end %>
                  </td>
                <% else %>
                  <td><%= link_to toggle_team_path(t, active: true), remote: true, method: 'patch' do %>
                    <i class="mdi-navigation-cancel tiny"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% count += 1 %>
          <% end %>
          <% if team_type.length >= 6 %> 
          <tr>
            <td></td>
            <td></td>
            <td align="left"><a class="more-teams" href="#"> More <i class="fa fa-angle-double-down"></i></a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>