<h1>Listing organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization_path(organization) %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization), class: "button tiny radius" %></td>
        <!--<td><%#= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
