<h3>Organization Details</h3>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @organization.short_name %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @organization.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @organization.street_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<!--<p>
  <strong>Latitutde:</strong>
  <%#= @organization.latitutde %>
</p>

<p>
  <strong>Longitude:</strong>
  <%#= @organization.longitude %>
</p> -->

<p>
  <strong>Active:</strong>
  <%= @organization.active %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
