<div id="students">
<a class="waves-effect waves-light btn">Add Student</a>
  <div class="card blue-grey lighten-5">
    <div class="subtitle card-content black-text">
		<%=form_for @student do |f| %>
			<div class ="row">
		      <div class ="input-field col 10">
		        <%= f.text_field :first_name %>
		        <!-- <input id="setting_area_name" name="setting[area_name]" type="text"/> -->
		        <label for="student_first_name">First Name</label>
		      </div>
		    </div>
		    <div class ="row">
		      <div class ="input-field col 10">
		        <%= f.text_field :last_name %>
		        <!-- <input id="setting_area_name" name="setting[area_name]" type="text"/> -->
		        <label for="student_last_name">Last Name</label>
		      </div>
		    </div>
		    <div class ="row">
		      <div class ="input-field col 10">
		        <%= f.text_field :grade %>
		        <!-- <input id="setting_area_name" name="setting[area_name]" type="text"/> -->
		        <label for="student_grade">Grade</label>
		      </div>
		    </div>

		      <div class="form-actions">
			    <%= f.submit nil, class: 'btn small', value: 'Submit' %>
			  </div>
		<% end %>
    </div>
  </div>
</div>