<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bible Quizzing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%#= image_tag 'banner_6.png' , class: "banner" %>
    <!-- TODO: set banner as link to home -->
    <%= link_to image_tag('banner_6.png'), home_path %> 
    <%#= render :partial => "partials/_admin_nav" %>
    <%= render :partial => "partials/coach_nav" %>

    <div class="row">
      <div class="small-12 columns" id="main_content">
        <%= render :partial => "partials/flash" %>
      </div>
    </div>
    
    <div class="row">
      <div class="small-8 columns">
        <!-- MAIN CONTENT GOES HERE -->
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>

      <div class="small-1 columns">
        &nbsp;
      </div>

      <div class="small-3 columns">
        <!-- SIDEBAR CONTENT GOES HERE -->
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="small-6 large-centered columns">
        </div>
      </div> 
    </footer>     
  </body>

</html>