<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>






<body>
  <!-- Navbar goes here -->

   <%= render :partial => "partials/top_nav" %>

       <!-- Page Layout here -->
     
    <%= render :partial => "partials/side_nav" %>
    <main>
     <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
        <%= yield %>

    
    </main>
    </body> 
    
    <div id= "footer" class="small-12 columns" >
      <%= render :partial => "partials/footer" %>
    </div>

</html>
