<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bible Quizzing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if !logged_in? %>
      <div style="float: right; background-color: #cecece; border-radius: 5px;padding-top: 5px; padding-bottom: 5px; padding-left: 7px; padding-right: 7px; margin: 3px;">
	<%= link_to "Coach's Login", login_url %>
      </div>
    <% else %>
      <div style="float: right; background-color: #cecece; border-radius: 5px;padding-top: 5px; padding-bottom: 5px; padding-left: 7px; padding-right: 7px; margin: 3px;">
	<%= link_to "Logout", logout_url %>
      </div>
    <% end %>
    <%= link_to image_tag('banner_6.png'), home_path %> 
    <%#= render :partial => "partials/_admin_nav" %>
    <%= render :partial => "partials/coach_nav" %>

    <div class="row">
      <div class="small-12 columns" id="main_content">
        <%= render :partial => "partials/flash" %>
      </div>
    </div>
    
    <div class="row">
      <div class="small-8 columns">
        <!-- MAIN CONTENT GOES HERE -->
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>

      <div class="small-1 columns">
        &nbsp;
      </div>

      <div class="small-3 columns">
        <!-- SIDEBAR CONTENT GOES HERE -->
      </div>
    </div>

    <footer>
      <div class="row">
        <div class="small-6 large-centered columns">
        </div>
      </div> 
    </footer>     
  </body>

</html>
